<div class="container">
  <h1>Register</h1>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="registerForm.username"
        placeholder="Enter your username"
        required
        id="username"
        name="username"
      />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        required
        placeholder="Enter your email"
        [(ngModel)]="registerForm.email"
        id="email"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        required
        name="password"
        placeholder="Enter your password"
        [(ngModel)]="registerForm.password"
        id="password"
      />
    </div>
    <div class="form-group">
      <label for="bio">Bio</label>
      <textarea
        class="form-control"
        name="bio"
        required
        placeholder="Enter your bio"
        [(ngModel)]="registerForm.profile.bio"
        id="bio"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="dob">Date of Birth</label>
      <input
        type="date"
        class="form-control"
        name="dob"
        required
        placeholder="Enter your date of birth"
        [(ngModel)]="registerForm.profile.dob"
        id="dob"
      />
    </div>
    <button type="submit" class="btn btn-primary mt-4">Register</button>
  </form>
</div>
